
.app{
    display: flex; 
  flex-direction: column;
    min-height: 100vh;
background:url(star.jpg);

}
.card-deck{
display: flex;
justify-content: space-around;
margin-top: 20px;

}

.movie-list{
    display: flex;
}


.sousapp{
    margin-top: 15px;
    display: flex; 
   align-items: center;
    background-color:burlywood;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
}


